<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="../css/estilo.css">-->
    <link rel="stylesheet" href="../css/style.css">
    <title>Cami Zandri Pasteleria</title>

</head>

<body class="container-fluid m-0 p-2">
    <header class="row header--sticky">
        <div class="col-12 navegador ">
            <nav class=" header__nav navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img src="../imagen/logo.png" alt="logo" width="100" height="100">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="header__nav__ul--justify navbar-nav">
                        <li class="header__nav__ul__li--style  nav-item active">
                            <a class="header__nav__ul__li__a--link" href="../index.html">Home <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="header__nav__ul__li--style nav-item">
                            <a class="header__nav__ul__li__a--link" href="../view/presupuesto.html">Presupuesto</a>
                        </li>
                        <li class="header__nav__ul__li--style nav-item">
                            <a class="header__nav__ul__li__a--link" href="../view/conoceme.html">Conoceme</a>
                        </li>
                        <li class="header__nav__ul__li--style nav-item">
                            <a class="header__nav__ul__li__a--link" href="../view/productos.html">Mis Productos</a>
                        </li>
                        <li class="header__nav__ul__li--style nav-item">
                            <a class="header__nav__ul__li__a--link" href="../view/cursos.html">Cursos</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <article>
        <section class="row">
            <div class="col-12">
                <h2 class="subtitulo">Productos</h2>
            </div>
        </section>
        <section class="row">
            <div class="col-12 row justify-content-around">
                <div class="icon1"></div>
                <div class="icon2"></div>
                <div class="icon3"></div>
            </div>

        </section>
    </article>
    <article>
        <section>
            <div class="row">
                <div class="card mb-3 col-12 col-md-4">
                    <img src="../imagen/TortaNro.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title ">Card title</h5>
                        <p class="texto-card">This is a wider card with supporting text below as a natural
                            lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="card mb-3 col-12 col-md-4">
                    <img src="../imagen/TortaNro.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="texto-card">This is a wider card with supporting text below as a natural
                            lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="card mb-3 col-12 col-md-4">
                    <img src="../imagen/chesk.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="texto-card">This is a wider card with supporting text below as a natural
                            lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="card mb-3 col-12 col-md-4">
                    <img src="../imagen/chesk.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="texto-card">This is a wider card with supporting text below as a natural
                            lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="card mb-3 col-12 col-md-4">
                    <img src="../imagen/chesk.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class=" texto-card">This is a wider card with supporting text below as a natural
                            lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="card mb-3 col-12 col-md-4">
                    <img src="../imagen/chesk.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="card mb-3 col-12 col-md-4">
                    <img src="../imagen/chesk.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="card mb-3 col-12 col-md-4">
                    <img src="../imagen/chesk.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </section>
    </article>
    <!--FOOTER-->
    <footer class="footer row  mt-5">
        <div class="col-12">
            <div class="footer__box">
                <span class="material-icons-outlined">
                    copyright
                </span>
                <span class="align-baseline">2021 Cami Zandri from Avila</span>
                <div class="footer__line"></div>
                <span class="align-baseline">Seguime...</span>
                <a class="footer__box--social" href="https://www.instagram.com/camizandri.pasteleria/" target="_blank">
                    <i class="bi bi-instagram"></i></a>
                <a class="footer__box--social" href="https://www.youtube.com/channel/UCoGu1YIzhJwGc2mn35DY3DA"
                    target="_blank"><i class="bi bi-youtube"></i></a>
            </div>
        </div>
    </footer>
    <!--SCRIPT DE BOOTSTRAP-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

</body>

</html>